<%= turbo_frame_tag electronic do %>
  <div class="electronic px-2 py-4">
      <h3 class="text-green-500"><%= electronic.name %> at <%= electronic.price %></h3>
      <div class="quote__actions flex">
              <%= link_to "Edit",
              edit_electronic_path(electronic),
              class: "bg-pink-300 inline ml-2 px-4 py-1 text-white rounded"
              %>
              <%= button_to "Delete",
                electronic_path(electronic),
                method: :delete,
                class: "bg-red-300 inline ml-2 px-4 py-1 text-white rounded" 
              %>
        </div> 

  </div>
<% end %>