<%= turbo_stream_from current_store, "electronics" %>
<main class="content w-full my-11">


<%# <div class="d-block my-6" data-controller="clipboard">
    <input data-clipboard-target="source" type="text" value="Sharking with FH" readonly>
    <button data-action="click->clipboard#copy">Copy Text</button>
</div>


<div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported" >
    <input data-clipboard-target="source" type="text" value="Diving with FH" readonly>
    <button class="clipboard-button"  data-action="click->clipboard#copy">Copy Text</button>
</div>

<div data-controller="hello" data-hello-name="Fh">
    <input data-hello-target="name" type="text" data-action="change->hello#type" data-action="paste->hello#paste">
    <button data-action="click->hello#log_me">Log Now</button>
</div> %>




<div class="header flex justify-between w-full">
    <h1 class="text-4xl">Shop for Electronics at <%= current_store.name %></h1>
    <%= link_to "New Electronic", 
    new_electronic_path, 
    data: {turbo_frame: dom_id(Electronic.new)},
    #  data: {turbo_frame: "_top"},
    class: "text-white bg-pink-400 rounded-lg px-6 py-4" %>
</div>

<%= turbo_frame_tag Electronic.new %>

<%= turbo_frame_tag "electronics" do %>
    <%= render "empty_state" %>
    <%= render @electronics %>
<% end %>



<h2 class="text-4xl font-bold text-blue-500 w-full my-6 mt-11 flex justify-center">The slide store!!
</h2>

<div data-controller="slideshow" data-slideshow-index-value="2">
    <div data-slideshow-target="slide">Lorem</div>
    <div data-slideshow-target="slide">Ipsum</div>
    <div data-slideshow-target="slide">Dor si</div>
    <div data-slideshow-target="slide">...met</div>

    <button data-action="slideshow#previous"> ← </button>
    <button data-action="slideshow#next"> → </button>
</div>


<h2 class="text-4xl font-bold text-blue-500 w-full my-6 mt-11 flex justify-center">Content Loading
</h2>

<div data-controller="content-loader" 
data-content-loader-refresh-interval-value="5000"
data-content-loader-url-value = "/posts"
>
<span data-content-loader-url-param = "/posts" data-action="click->content-loader#load"> Posts</span>
<span data-content-loader-url-param = "/cars" data-action="click->content-loader#load"> cars</span>


<div class="text-wrapper"></div>
</div>


</main>
